
body {
    text-align: center;
    margin: 0;
    font-family: 'Crimson Text', serif;
}

.top-container {
    background-color: #EEFFEE;
    /* padding-top:100px; */
    position: relative;
    height: 100vh;
    text-align: center;
}

h1,h2 {
    color: #66BFBF;
}

h3, a {
  color: #11999E;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 5rem;
  margin: 0;
  padding-top:250px;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 1.4rem;
  font-weight: normal;
  font-family: 'Ubuntu', sans-serif;
}

h3 {

  margin: 5px 0;
}

p {
  font-size: 1rem;
  margin: 5px 0;
}

hr {
  border: none;
  border-top: 5px dotted #EAF6F6;
  width: 2.5rem;
}

.top-cloud {
  position: absolute;
  top:160px;
  right: calc(50% - 350px);
}

.bottom-cloud {
  position: absolute;
  top:420px;
  left: calc(50% - 350px);
}

.mountain {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 60vh;
}

.middle-container {
  padding-top: 50px;
  text-align: center;
}

.profile {
  max-width: 50%;
  margin: auto;
  padding: 25px 0;
}

.skills {
  max-width: 50%;
  padding: 25px 0;
  margin: 50px auto 0;
}

.skill-row {
  margin:100px auto;
  text-align: left;
  line-height: 1.5;
}

.skill-row img {
  width: 150px;
  border-radius: 100%;
}

.computer-image {
  float: left;
  margin-right: 25px;
}

.computer-description {
  line-height: 1.5;
}

.chillies-image {
  margin-left: 25px;
  float:right;
}

.chillies-description {
  line-height: 1.5;
}

.contact-me {
  margin: 30px auto 0;
}

.btn {
  line-height: 90px;
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #078585);
  background-image: -moz-linear-gradient(top, #66BFBF, #078585);
  background-image: -ms-linear-gradient(top, #66BFBF, #078585);
  background-image: -o-linear-gradient(top, #66BFBF, #078585);
  background-image: linear-gradient(to bottom, #66BFBF, #078585);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #c558db;
  background-image: -webkit-linear-gradient(top, #c558db, #9c4093);
  background-image: -moz-linear-gradient(top, #c558db, #9c4093);
  background-image: -ms-linear-gradient(top, #c558db, #9c4093);
  background-image: -o-linear-gradient(top, #c558db, #9c4093);
  background-image: linear-gradient(to bottom, #c558db, #9c4093);
  text-decoration: none;
}

.bottom-container {
  padding: 30px 0;
  background-color: #66BFBF;
  text-align: center;
}

.bottom-container .footer-link {
  color: #11999E;
  line-height: 2;
  text-decoration: none;
  margin: 0 10px;
}


.footer-link:hover{
  color: #EAF6F6;
}


.bottom-container p {
  color: #EAF6F6;
  line-height: 2;
}
